<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

</head>
<body>
    <div class="ui container" style="margin-top: 50px;">

        <h1 class="ui center aligned header">Todo App</h1>
        <form class="ui form" action="/add", method="post">
            <div class="field">
                <label for="title">Todo Title </label>
                <input type="text" name="title" placeholder="Enter Todo Item... ">
                <br>
                <button class="ui purple button" type="submit">add item</button>        
            </div>
        </form>

        {%for item in todo_list %}
        <div class="ui segment">
            <p class="ui big header">
                {{ item.id}} | {{ item.title }}
            </p>

            {% if item.is_completed %}
                <span class="ui green label">Completed</span>
            {% else %}
                <span class="ui grey label">Not Completed</span>
            {% endif %}

            <a class="ui blue button" href="/update/{{item.id}}">update</a>
            <a class="ui red button" href="/delete/{{item.id}}">delete</a>
        </div>
        {% endfor %}
        
        </div>
</body>
</html>